.center {
  text-align: center;
 }
 
 img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
	background-color: #ffffff;
}

@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #ffffff;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}
